*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    height: 87.5vh;
}
.app{
    width: 70%;
    max-width: 450px;
    /* background-color: rgb(60, 0, 0); */
    background-image: linear-gradient(to right top, #e703c0, #ff0d87, #ff674e, #ffa912, #f4e112);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 69px auto 0;
    border-radius: 10px;
    padding: 30px;
}
h1,h2{
    color: white;
}
h2{
    margin-top: 10px;
    margin-bottom: 5px;
}
h1{
    margin-bottom: 5px;
}
.btn{
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    width: 98%;
    cursor: pointer;
    font-size: large;
    border: none;
    background-color: white;
    border-radius: 6px;
    transition: all 0.2s;
}
 .btn:hover{
   background-color: pink;
   color: white;
}
button#next-btn{
    padding: 10px;
    width: 150px;
    background-color: #ffc150;
    border: none;
    color: white;
    font-size: medium;
    border-radius: 4px;
    margin-left: 30%;
    cursor: pointer;
}
button#next-btn:hover{
    background-color: #ffc250d4;
}
.span{
    font-size: x-large;
    margin-left: 100px;
}
.para{
    color: white;
    margin-bottom: 10px;
}
.wrong{
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    width: 98%;
    cursor: pointer;
    font-size: large;
    border-color: red;
    background-color: #ff9393;
    border-radius: 6px;
}
.correct{
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    width: 98%;
    cursor: pointer;
    font-size: large;
    border-color: green;
    background-color: #9aeabc;
    border-radius: 6px;
}
img.tick{
    width: 20px;
    border-radius: 50%;
    float: right;
    display: none;
}
img.cross{
    width: 20px;
    border-radius: 50%;
    float: right;
    display: none;
}
.btn:disabled{
    cursor: no-drop;
} 
h3{
    margin-top: 10px;
    color: white;
    font-size: large;
}
.playagain{
    padding: 10px;
    width: 150px;
    background-color: #ffc150;
    border: none;
    border-radius: 4px;
    margin-left: 30%;
    font-size: medium;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}
dialog{
    background-color: #9aeabc;
    border: 2px solid red;
    border-radius: 2px;
    position: absolute;
    top: 40%;
    width: 500px;
    padding: 20px;
    font-size: large;
    color: purple;
    text-align: center;
    left: 30%;
}
.yes{
    background-color: greenyellow;
    margin-left: 6%;
    margin-right: 10px;
    width: 120px;
    height: 35px;
    margin-top: 20px;
    cursor: pointer;
}
.no{
    background-color: red;
    font-size: large;
    width: 120px;
    height: 35px;
    margin-top: 20px;
    cursor: pointer;
}

/* div.questions .btn{
    cursor: pointer;
    display: block;
    width: 20%;
    margin-bottom: 5px;
    padding: 10px;
    background-color: greenyellow;
}
.wrong{
    background-color: rgb(252, 104, 104);
}
.correct{
    background-color: greenyellow;
} */
